<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>875843424197-qbq34kp902rphke7lfirg89t1gg7tute.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875843424197-qbq34kp902rphke7lfirg89t1gg7tute</string>
	<key>API_KEY</key>
	<string>AIzaSyC3f_boOqZGLr2FsBdFsVjdj93o70lHG7A</string>
	<key>GCM_SENDER_ID</key>
	<string>875843424197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kherelcontacts</string>
	<key>PROJECT_ID</key>
	<string>kherel-c54a2</string>
	<key>STORAGE_BUCKET</key>
	<string>kherel-c54a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875843424197:ios:7c430e91761fe041cc85ac</string>
</dict>
</plist>